
body, ul {
    margin: 0;
    
}

header {
    display: flex; 
    align-items: center; 
    background-color: #574128; 
    padding: 10px; 
}
 
/* navigation bar */
#mainNav {
    background-color:  #dbda8cf5; 
    width: 100%;
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#mainNav li {
    float: left;
    flex: 1;
}

#mainNav a {
    display: block;
    color: rgb(0, 0, 0); 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 

}

#mainNav a:hover {
    background-color: #bcc473; 
} 

.logo img {
    max-height: 50px; 
    margin-right: 10px; 
}
.long-image {
    width: 100%;
    height: auto;
    display: block;
} 
.container {
    position: relative;
    width: 100%;
    
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
   
}

h1 {
    font-size: 80px; 
    margin: 0; 
} 

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}



.content {
    width: 45%; 
    padding: 20px; 
    
}
section {
    margin-bottom: 20px; 
}

.body { 
    background-color: #bcc473;
} 

.image {
    position: relative;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image:hover .hover-image {
    opacity: 1;
}

/*footer*/

footer {
    background-color: #8f6d46;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.contact,
.social-media {
    flex: 1;
    text-align: center; 
}

.contact h3,
.social-media h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {

    #mainNav {
        position: relative;
    }

    #mainNav ul {
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;
    }

    #mainNav li {
        flex: 1;
        width: 100%;
    }
    .long-image {
        font-size: 16px;
    }

    .content {
        font-size: 14px;
    }

    .hover-image {
        margin-top: 5px;
    } 
    h1 {
        font-size: 40px; 
        margin: 0; 
    } 
   

    h1 {
        font-size: 40px; 
    }

    .text {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .image {
        display: flex;
        flex-direction: column-reverse; 
    }

    .main-image,
    .hover-image {
        max-width: 100%; 
        margin-bottom: 10px; 
    }
}